@media (max-width: 480px) {
  .nav-logo h1 a {
    font-size: 25px;
    text-decoration: none;
  }
  .hero {
    position: relative;
    display: flex;
    background: url(/images/hero480.png) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }
  .hero-content {
    position: relative;
    text-align: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .welcome h1 {
    position: relative;
    font-size: 25px;
  }
  .welcome h3 {
    font-size: 14px;
  }
  .welcome p {
    font-size: 12px;
    width: 300px;
  }
  .welcome a {
    font-size: 12px;
  }
  .welcome a img {
    width: 10px;
  }
  .welcome img {
    width: 400px;
  }
  .booking h1 {
    font-size: 25px;
  }
  .booking p {
    font-size: 12px;
  }
  .form {
    width: 350px;
  }
  .form-grid {
    display: flex;
    flex-direction: column;
  }
  .form-grid input {
    width: 500px;
  }
  .news h3 {
    font-size: 14px;
    text-align: center;
  }
  .news-articles {
    display: flex;
  }
  .news-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
  }
  .news-card img {
    width: 300px;
  }
  .news-info {
    align-items: center;
  }
  .views img {
    width: 40px;
    margin-bottom: 10px;
  }
  .top {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .logo {
    position: relative;
    left: -30px;
  }
  .contact {
    font-size: 15px;
    position: relative;
    left: -30px;
  }
  .bottom-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .bottom-info p {
    font-size: 12px;
  }
}
