<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="booking.css">
    <title>HI System</title>
</head>
<header>
    <div class="nav">
        <div class="pre-nav">
          <div class="h-logo">
            <img src="/images/logo.png" alt="img" />
          </div>
          <div class="pre-nav-info">
            <div class="pre-menu">
              <img src="/images/phone.png" alt="img" />
              <div class="pre-menu-info">
                <h3>EMERGENCY</h3>
                <p>(250) 781-812-255</p>
              </div>
            </div>
            <div class="pre-menu">
              <img src="/images/clock.png" alt="img" />
              <div class="pre-menu-info">
                <h3>WORKING HOURS</h3>
                <p>24/7</p>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-menu">
          <div class="nav-logo">
            <h1><a href="#">IvuzeAPP</a></h1>
          </div>
          <div class="nav-btn">
            <img src="/images/search.png" alt="search" />
            <img src="/images/close.png" alt="img" class="close" />
            <img src="/images/hamburger.png" alt="img" class="open" />
          </div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/doctor">Doctors</a></li>
            <li><a href="/hospital">Hospitals</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/signup">SignUp</a></li>
            <li><a href="/login">LogIn</a></li>
          </ul>
        </div>
      </div>
</header>

   <div class="booking1">
    <img src="/images/Rectangle 3 (2).png" class="bookingpic">
    <div class="bookingsub">
      <p>Home / Hospitals / Services / Gynaecology / Appointement</p>
      <h2>Book now!</h2>
    </div>
    <div class="doctordes">
        <div class="doctor-description">
            <h3><b>ALI</b></h3>
            <li><b>Specialist in Gynaecology</b></li>
             <li><b>Work At:</b></li>
             <p><b>Descriptions: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugiat amet ea pariatur dolor adipisci error ipsam neque quam quos officia nemo sequi, praesentium tempora molestiae, eveniet unde perspiciatis! Sed.Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ut amet minima sequi quaerat corporis delectus expedita odit, fugit impedit, quasi modi eos nam cupiditate quas aut veniam minus maiores.</p>
        </div>
        <div class="calendar">
            <h2>Shedule hours</h2>
            <div class="calender-grid">
                <div class="calender-date">
                <h3>Monday</h3>
                <p>8:00am-6:00pm</p>
                </div>
                <div class="calender-date">
                <h3>Tuesday</h3>
                <p>8:00am-6:00pm</p>
                </div>
                <div class="calender-date">
                <h3>Wednesday</h3>
                <p>8:00am-6:00pm</p>
                </div>
                <div class="calender-date">
                <h3>Thursday</h3>
                <p>8:00am-6:00pm</p>
                </div>
                <div class="calender-date">
                <h3>Friday</h3>
                <p>8:00am-4:00pm</p>
                </div>
                <div class="calender-date">
                <h3>Saturday</h3>
                <p>10:00am-4:00pm</p>
                </div>
                <div class="calender-date1">
                <h3>Sunday</h3>
                <p>closed</p>
                </div>
                <div class="calendar-line">
                    <img src="/images/Vector 6.png" alt="">
                </div>
                <div class="calendar-call">
                    <img src="/images/Group 188.png" alt="" >
                    <p>Phone Number</p>
                </div>
                <div class="p-number">
                    <p>+250793006378</p>
                </div>
            </div>
    
        </div>

    </div>
    <div class="booking">
        <div class="form">
          <div class="form-grid">
            <input type="text" name="name" id="name" placeholder="Name" />
            <input type="text" name="gender" id="phone" placeholder="Gender" />
            <input type="text" name="email" id="email" placeholder="Email" />
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Insurance name"
            />
            <input type="text" name="email" id="email" placeholder="Age" />
            <input type="text" name="email" id="email" placeholder="Time" />
            <input type="text" name="email" id="email" placeholder="Doctor" />
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Hospitals & Services"
            />
          </div>
          <textarea
            name="messages"
            placeholder="Message"
            id="messages"
            cols="30"
            rows="10"
          ></textarea>
          <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ3z4iaaNQNUJ1Lq68cWbrQz5PJcnGhTMMoEVWm3B0LZ8djAEjfBm_P65UUWAGgF9i5-fr8S5LEH">Book Now!</a>
        </div>
       
    </div>
   
   <footer>
        <div class="footer container">
            <div class="top">
                <div class="logo">
                 <img src="/images/logo2.png" alt="img" />
                <p>Leading the Way in Medical <br> Execellence, Trusted Care.</p>
                 </div>
                <div class="links">
              <h3>Important Links</h3>
             <ul>
              <li><a href="#">Appiontment</a></li>
              <li><a href="#">Doctors</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
          <div class="contact">
            <h3>Contact Us</h3>
            <div class="contact-info">
              <p>Call: (237) 681-812-255</p>
              <p>Email: ivuze@example.com</p>
            </div>
          </div>
          <div class="newsletter">
            <h3>Newsletter</h3>
            <div class="input">
              <input type="text" placeholder="Enter your email address" />
              <img src="/images/submit.png" alt="img" />
            </div>
          </div>
        </div>
        <div class="bottom">
          <img src="/images/line.png" alt="" />
          <div class="bottom-info">
            <p>© 2021 HIS All Rights Reserved by PNTEC-LTD</p>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
  </footer>
  <script>const hamburger = document.querySelector('.open');
    const close = document.querySelector('.close');
    
    close.onclick = () => {
        document.querySelector('.nav-menu ul').classList.remove('active');
        close.style.display = 'none';
        hamburger.style.display = 'block';
    }
    
    hamburger.onclick = () => {
        document.querySelector('.nav-menu ul').classList.toggle('active');
        close.style.display = 'block';
        hamburger.style.display = 'none';
    };</script>
</body>
</html>