@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
}

.nav {
  width: 100%;
  margin-top: 20px;
}
.pre-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pre-nav-info {
  position: relative;
  display: flex;
  gap: 40px;
  right: 250px;
}
.pre-menu {
  display: flex;
  list-style: none;
  gap: 10px;
}
.pre-menu img {
  width: 30px;
  height: 30px;
}
.pre-menu-info p {
  color: #159eec;
}
.pre-menu-info h3 {
  color: #1f2b6c;
}
.
