@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
}

.nav {
  width: 100%;
  margin-top: 20px;
}
.pre-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pre-nav-info {
  position: relative;
  display: flex;
  gap: 40px;
  right: 250px;
}
.pre-menu {
  display: flex;
  list-style: none;
  gap: 10px;
}
.pre-menu img {
  width: 30px;
  height: 30px;
}
.pre-menu-info p {
  color: #159eec;
}
.pre-menu-info h3 {
  color: #1f2b6c;
}
.nav-menu {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  height: 70px;
  background-color: #1f2b6c;
  justify-content: center;
  align-items: center;
}
.nav-logo h1 a {
  color: #fff;
  font-family: "Yeseva One", serif;
  text-transform: uppercase;
  display: none;
}
.nav-btn {
  display: none;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
.nav-menu ul li a:hover {
  color: #159eec;
  font-weight: 600;
}

/*** hero ***/

.hero {
  position: relative;
  min-height: 500px;
  width: 100%;
  background: url(/images/hero-bg.png) no-repeat right top / cover;
  z-index: 1;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 100px;
  top: 200px;
}
.hero-content h1 {
  color: #1f2b6c;
  font-size: 40px;
  font-weight: 600;
  font-family: "Yeseva One", serif;
  width: 250px;
}
.hero-content h3 {
  color: #159eec;
  font-size: 20px;
  font-weight: 500;
}
/*** booking body ***/
.booking1{
    position:relative;
}
.bookingpic{
    opacity: 50%
}
.bookingsub{
    position: absolute;
    top: 2.5%;
    padding: 40px;
    color: 1F2B6C;
}

  
.bookingsub h2{
    font-size: 40px;
    font-family: "Yeseva One", serif;
}
.doctordes{
    display: flex;
    position: relative;
    padding-top: 8em;
    gap: 20px;
}

.doctor-description {
    padding-left: 9em;
}

.doctor-description h3 {
    font-size: 40px;
    font-family: "Yeseva One", serif;
    color: #1f2b6c;
}
.doctor-description li{
    padding-top: 20px;
}

.doctor-description p {
    position: relative;
    padding-top: 20px;
    width: 50%;
}
.calendar{
    position: relative;
    right: 10em;
    border: 1px rgb(239, 239, 235) solid;
    background-color: #1f2b6c;
    color: #BFD2F8;
    border-radius: 10px;
}

.calendar h2{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family:"Yeseva One", serif;
}

.calender-grid{
    margin: 30px;
    text-align: center;
}

.calender-date , .calender-date1{
    display: inline-flex;
    gap: 20px;
    padding-top: 2em;
}

.calender-date1{
    padding-bottom: 20px;
}

.calendar-call{
    display: inline-flex;
    gap: 10px;
    padding-top: 20px;
}

.calendar-call img{
    color: #BFD2F8;
}



.booking {
  position: relative;
  display: flex;
  padding-left: 8em;
  top: -250px;
  gap: 150px;
}
.booking a{
    text-decoration: none;
    color:#1f2b6c;
}
.booking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.booking-info h1 {
  color: #159eec;
  font-family: "Yeseva One", serif;
}
.booking-info p {
  font-weight: 300;
  width: 350px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-grid input {
    display: none;
  border: 1px solid #eaeaea;
  border-radius: 0;
  background-color: #1f2b6c;
  color: #fff;
}
.form-grid input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}
.form textarea {
    display: none;
  padding: 20px;
  border: none;
  background-color: #1f2b6c;
  color: #fff;
}
.form textarea::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}
.form a {
  padding: 20px;
  background-color: #bfd2f8;
  text-align: center;
}

/*** footer ***/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer {
    width: 100%;
    margin-top: 20px;
    background-color: #1f2b6c;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
  }
  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
  .logo img {
    width: 100px;
  }
  .logo p {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
  }
  .links h3 {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }
  .links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
  .links ul li a {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    text-decoration: none;
  }
  .links ul li a:hover {
    text-decoration: underline;
    color: #bfd2f8;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact-info p {
    font-weight: 300;
  }
  .contact h3 {
    font-weight: 500;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
  }
  .newsletter h3 {
    font-weight: 500;
  }
  .input {
    background-color: #bfd2f8;
    width: 300px;
    display: flex;
    gap: 30px;
    border-radius: 5px;
  }
  .input img {
    margin-top: 13px;
    width: 30px;
    height: 30px;
  }
  input {
    background-color: #bfd2f8;
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 5px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  .bottom-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .social-icons {
    display: flex;
    gap: 20px;
  }
  .container {
    padding-inline: 150px;
  }

  @media (max-width: 480px) {
    .nav-logo h1 a {
      font-size: 25px;
    }
    .hero {
      position: relative;
      display: flex;
      background: url(/images/hero480.png) no-repeat;
      background-size: cover;
      background-position: center;
      align-items: center;
      justify-content: center;
    }
    .hero-content {
      position: relative;
      text-align: center;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
    .welcome h1 {
      position: relative;
      font-size: 25px;
    }
    .welcome h3 {
      font-size: 14px;
    }
    .welcome p {
      font-size: 12px;
      width: 300px;
    }
    .welcome a {
      font-size: 12px;
    }
    .welcome a img {
      width: 10px;
    }
    .welcome img {
      width: 400px;
    }
    .booking h1 {
      font-size: 25px;
    }
    .booking p {
      font-size: 12px;
    }
    .form {
      width: 350px;
    }
    .form-grid {
      display: flex;
      flex-direction: column;
    }
    .form-grid input {
      width: 500px;
    }
    .news h3 {
      font-size: 14px;
      text-align: center;
    }
    .news-articles {
      display: flex;
    }
    .news-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
    }
    .news-card img {
      width: 300px;
    }
    .news-info {
      align-items: center;
    }
    .views img {
      width: 40px;
      margin-bottom: 10px;
    }
    .top {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .logo {
      position: relative;
      left: -30px;
    }
    .contact {
      font-size: 15px;
      position: relative;
      left: -30px;
    }
    .bottom-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    .bottom-info p {
      font-size: 12px;
    }

    .doctordes{
        display: block;
    }

    .calendar{
        position: relative;
        right: 0;
        border: 1px rgb(239, 239, 235) solid;
        background-color: #1f2b6c;
        color: #BFD2F8;
        border-radius: 10px;
    }

    .booking {
        position: relative;
        display: flex;
        padding-left: 0em;
        top: 0px;
        gap: 150px;
    }

    .doctor-description {
        padding-left: 1em;
    }
    
    .doctor-description h3 {
        font-size: 40px;
        font-family: "Yeseva One", serif;
        color: #1f2b6c;
    }
    .doctor-description li{
        padding-top: 20px;
    }
    
    .doctor-description p {
        position: relative;
        padding-top: 20px;
        padding-bottom:20px ;
        width: 100%;
    }

    
  }
  
  @media (max-width: 900px) {
    .h-logo {
      display: none;
    }
    .pre-nav-info {
      font-size: 12px;
      right: 0;
    }
    .nav-menu {
      display: flex;
      justify-content: space-around;
      overflow: hidden;
    }
    .nav-menu ul.active {
      opacity: 1;
      transition: 0.3s;
      height: 40vh;
    }
    .nav-menu ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      background: #bfd2f8d4;
      top: 140px;
      left: 0;
      right: 0;
      width: 100vw;
      height: 0;
      transition: 0.3s;
      z-index: 2;
      opacity: 0;
    }
    .nav-menu ul li a {
      color: #1f2b6c;
      font-weight: 400;
      transition: 0.3s;
    }
    .nav-btn {
      display: flex;
      position: relative;
      gap: 20px;
    }
    .close {
      display: none;
    }
    .nav-logo h1 a {
      display: block;
    }
    .welcome {
      text-align: center;
    }
    .about {
      display: none;
    }
    .speciality {
      display: none;
    }
    .booking {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    .booking-info {
      margin-top: 40px;
    }
    .logo p {
      width: 200px;
      text-align: left;
      font-size: 12px;
    }
    .links {
      display: none;
    }
    .input {
      width: 250px;
      height: 40px;
    }
    .input img {
      position: relative;
      width: 25px;
      height: 25px;
      right: 10px;
      bottom: 5px;
    }
    .container {
      padding-inline: 20px;
    }
    .doctordes{
        display: block;
    }

    .calendar{
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        border: 1px rgb(239, 239, 235) solid;
        background-color: #1f2b6c;
        color: #BFD2F8;
        border-radius: 10px;
        width: 100%;
    }

    .booking {
        position: relative;
        display: flex;
        padding-left: 0em;
        top: 0px;
        gap: 150px;
    }

    .doctor-description {
        padding-left: 1em;
    }
    
    .doctor-description h3 {
        font-size: 40px;
        font-family: "Yeseva One", serif;
        color: #1f2b6c;
    }
    .doctor-description li{
        padding-top: 20px;
    }
    
    .doctor-description p {
        position: relative;
        padding-top: 20px;
        padding-bottom:20px ;
        width: 100%;
    }
  }

 @media (max-width: 1000px){
    .calendar{
        position: relative;
        right: 100px;
        border: 1px rgb(239, 239, 235) solid;
        background-color: #1f2b6c;
        color: #BFD2F8;
        border-radius: 10px;
    }

 }

  
 @media (min-width: 900px) and (max-width: 1160px) {
    .pre-nav-info {
      position: relative;
      right: 150px;
    }
    .container {
      padding-inline: 0;
    }
}



  