<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet" href="./style.css" />
      <link rel="stylesheet" href="./doctors.css" />
      <link rel="stylesheet" href="./contact.css">

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="stylesheet" href="/components/media queries/contacts-480.css">
      <link rel="stylesheet" href="/components/media queries/doctors_480.css">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
      />

      <title>HI System</title>
    </head>
    <body>
      <header>
        <div class="nav">
          <div class="pre-nav">
            <div class="h-logo">
              <img src="/images/logo.png" alt="img" />
            </div>
            <div class="pre-nav-info">
              <div class="pre-menu">
                <img src="/images/phone.png" alt="img" />
                <div class="pre-menu-info">
                  <h3>EMERGENCY</h3>
                  <p>(250) 781-812-255</p>
                </div>
              </div>
              <div class="pre-menu">
                <img src="/images/clock.png" alt="img" />
                <div class="pre-menu-info">
                  <h3>WORKING HOURS</h3>
                  <p>24/7</p>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-menu">
            <div class="nav-logo">
              <h1><a href="#">HIS</a></h1>
            </div>
            <div class="nav-btn">
              <img src="/images/search.png" alt="search" />
              <img src="/images/close.png" alt="img" class="close" />
              <img src="/images/hamburger.png" alt="img" class="open" />
            </div>
            <ul>

              <li><a href="/">Home</a></li>

              <li><a href="/about">About Us</a></li>
              <li><a href="/doctors">Doctors</a></li>
              <li><a href="/hospital">Hospitals</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/signup">SignUp</a></li>
              <li><a href="/login">LogIn</a></li>


            </ul>
          </div>
        </div>
      </header>
      <!-- Header End -->
      <section class="subhead">
        <p>Home / Contact Us</p>
        <h1>Contacts</h1>
      </section>
      <section class="contact-hero container">
        <div class="first-div">
            <h3>GET IN TOUCH</h3>
            <h1>Contact</h1>
            <form>
                <div class="first">
                <input type="text" placeholder="Name" class="form-input" />
                <input
                  type="text"
                  placeholder="Email"
                  class="form-input-2"
                />
                </div>
                <input type="text" placeholder="Subject" class="form-input" />
                <input
                  type="text"
                  placeholder="Messsage"
                  class="form-input-2"
                />
                <input type="submit" value="SUBMIT" class="submit" />
              </form>
        </div>
        <div class="contact-container">
            <div class="contact-card">
                <img src="/images/phone-contact.png" alt="">
                <h3>EMERGENCY</h3>
                <p>(237) 666-331-894</p>
                <p>(237) 666-331-894</p>
            </div>
            <div class="contact-card-2">
                <img src="/images/location-contact.png" alt="">
                <h3>LOCATION</h3>
                <p>0123 Some place</p>
                <p>9876 Some country</p>
            </div>
            <div class="contact-card-3">
                <img src="/images/email.png" alt="">
                <h3>EMAIL</h3>
                <p>fildineeesoe@gmil.com</p>
                <p>myebstudios@gmail.com</p>
            </div>
            <div class="contact-card">
                <img src="/images/clock-contact.png" alt="">
                <h3>WORKING HOURS</h3>
                <p>Mon-Sat 09:00-20:00</p>
                <p>Sunday (Emergency only)</p>
            </div>
        </div>
      </section>
      <section class="news">
        <h3>BETTER INFORMATION, BETTER HEALTH</h3>
        <h2>News</h2>
        <div class="news-articles">
            <div class="article">
                <img src="/images/article.png" alt="article">
                <div class="text">
                    <p>Monday 05, September 2021 | By Author</p>
                    <h4>This Article's Title goes Here, 
                        but not too long.</h4>
                        <div class="icons">
                            <div class="eye">
                                <img src="/images/Group 198.png" alt="">
                                <p>86</p>
                            </div>
                            <div class="heart">
                                <img src="/images/heart.png" alt="favorites">
                                <p>76</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="article">
                <img src="/images/article.png" alt="article">
                <div class="text">
                    <p>Monday 05, September 2021 | By Author</p>
                    <h4>This Article's Title goes Here, 
                        but not too long.</h4>
                        <div class="icons">
                            <div class="eye">
                                <img src="/images/Group 198.png" alt="">
                                <p>86</p>
                            </div>
                            <div class="heart">
                                <img src="/images/heart.png" alt="favorites">
                                <p>76</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
      </section>
      <footer>
        <div class="footer container">
          <div class="top">
            <div class="logo">
              <img src="/images/logo2.png" alt="img" />
              <p>Leading the Way in Medical </br> Execellence, Trusted Care.</p>
            </div>
            <div class="links">
              <h3>Important Links</h3>
              <ul>
                <li><a href="#">Appiontment</a></li>
                <li><a href="#">Doctors</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
            <div class="contact">
              <h3>Contact Us</h3>
              <div class="contact-info">
                <p>Call: (237) 681-812-255</p>
                <p>Email: ivuze@example.com</p>
              </div>
            </div>
            <div class="newsletter">
              <h3>Newsletter</h3>
              <div class="input">
                <input type="text" placeholder="Enter your email address" />
                <img src="/images/submit.png" alt="img" />
              </div>
            </div>
          </div>
          <div class="bottom">
            <img src="/images/line.png" alt="" />
            <div class="bottom-info">
              <p>© 2021 HIS All Rights Reserved by PNTEC-LTD</p>
              <div class="social-icons">
                <img src="/images/linkedin.png" alt="img" />
                <img src="/images/facebook.png" alt="img" />
                <img src="/images/insta.png" alt="img" />
              </div>
            </div>
          </div>
        </div>
      </footer>
      <script src="/components/index.js"></script>
    </body>
  </html>
</html>
