.form-input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.form-input-2::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.subhead {
  background-image: url("/images/contact-subhead.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  h3 {
    font-size: 18px;
    color: #159EEC;
    font-weight: bold;
    padding-bottom: 10px;
  }
  h1 {
    font-size: 32px;
    font-family: Yeseva One;
    font-weight: 400;
    padding-bottom: 15px;
    color: #1F2B6C;
  }
  .first-div {
    form {
      display: flex;
      flex-direction: column;
      gap: 0;
      width: 100%;
      .first {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -5px;
        .form-input {
          border: 1px solid white;
          background-color: #1f2b6c;
          font-family: Work Sans;
          font-size: 16px;
          color: white;
          border-radius: 0;
          height: 50px;
        }
        .form-input-2 {
          border: 1px solid white;
          background-color: #1f2b6c;
          font-family: Work Sans;
          font-size: 16px;
          color: white;
          border-radius: 0;
          margin-left: -20px;
          height: 50px;
        }
      }
      .form-input {
        border: 1px solid white;
        background-color: #1f2b6c;
        font-family: Work Sans;
        font-size: 16px;
        color: white;
        border-radius: 0;
        width: 100%;
      }
      .form-input-2 {
        border: 1px solid white;
        background-color: #1f2b6c;
        font-family: Work Sans;
        font-size: 16px;
        color: #fcfefe;
        border-radius: 0;
        width: 100%;
        height: 235px;
        text-align: left;
      }
      .submit {
        width: 100%;
        color: #1f2b6c;
        margin-top: -1px;
        border-radius: 1px;
        cursor: pointer;
      }
    }
  }
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
    .contact-card {
        width: 233px;
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #BFD2F8;
        gap: 10px;
        border-radius: 5px;

        img {
            width: 40px;
            height: 38px;
            margin-left: 30px;
        }
        h3 {
            color: #1F2B6C;
            margin-left: 30px;
            font-size: 18px;
        }
        p {
            font-size: 16px;
            color: #1F2B6C;
            font-weight: 300;
            margin-left: 30px;
        }
    }
    .contact-card-2 {
        width: 233px;
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #1F2B6C;
        gap: 10px;
        border-radius: 5px;

        img {
            width: 30px;
            height: 35px;
            margin-left: 30px;
        }
        h3 {
            color: #BFD2F8;
            margin-left: 30px;
            font-size: 18px;
        }
        p {
            font-size: 16px;
            color: #BFD2F8;
            font-weight: 300;
            margin-left: 30px;
        }
    }
    .contact-card-3 {
        width: 233px;
        height: 225px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #BFD2F8;
        gap: 10px;
        border-radius: 5px;

        img {
            width: 40px;
            height: 35px;
            margin-left: 30px;
        }
        h3 {
            color: #1F2B6C;
            margin-left: 30px;
            font-size: 18px;
        }
        p {
            font-size: 16px;
            color: #1F2B6C;
            font-weight: 300;
            margin-left: 30px;
        }
    }
  }
}
