<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="/components/media queries/900.css" />
    <link rel="stylesheet" href="/components/media queries/480.css" />
    

    <title>HI System</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <div class="pre-nav">
          <div class="h-logo">
            <img src="/images/logo.png" alt="img" />
          </div>
          <div class="pre-nav-info">
            <div class="pre-menu">
              <img src="images/phone.png" alt="img" />
              <div class="pre-menu-info">
                <h3>EMERGENCY</h3>
                <p>(250) 781-812-255</p>
              </div>
            </div>
            <div class="pre-menu">
              <img src="/images/clock.png" alt="img" />
              <div class="pre-menu-info">
                <h3>WORKING HOURS</h3>
                <p>24/7</p>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-menu">
          <div class="nav-logo">
            <h1><a href="#">HIS</a></h1>
          </div>
          <div class="nav-btn">
            <img src="/images/search.png" alt="search" />
            <img src="/images/close.png" alt="img" class="close" />
            <img src="/images/hamburger.png" alt="img" class="open" />
          </div>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/doctor">Doctors</a></li>
            <li><a href="/hospital">Hospitals</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/signup">SignUp</a></li>
            <li><a href="/login">LogIn</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Hero -->
    <div class="hero">
      <div class="hero-content">
        <h3>Caring for Life</h3>
        <h1>welcome to HI System</h1>
      </div>
    </div>
    <!-- Hero End -->

    <!-- welcome section -->
    <div class="welcome">
      <div class="welcome-content">
        <h3>WELCOME TO HIS</h3>
        <h1>THE BEST OPTION FOR THE BEST SERVICES</h1>
        <p>
          Designed to transform the healthcare landscape in Rwanda. Designed to
          address <br />
          patients' challenges when seeking specialist consultations and medical
          services. <br />
          Through the HIS, we streamline all hospital operations, services,
          enhance patient <br />
          care experiences, and improve overall access to healthcare services
          nationwide.
        </p>
        <a class="button" href="#"
          >Learn more <img src="/images/arrow.png" alt="img"
        /></a>
      </div>
      <div class="welcome-img">
        <img src="/images/welcome-img.png" alt="img" />
      </div>
    </div>
    <!-- welcome section End -->

    <!-- about section -->
    <div class="about">
      <h3>SERVICE YOU CAN BELIEVE IN</h3>
      <h1>About Us</h1>
      <div class="about-content">
        <div class="about-info">
          <h2>REAL TIME INFORMATION.</h2>
          <div class="list">
            <p><img src="/images/dot.png" alt="img" /> A Passion for Healing</p>
            <p><img src="/images/dot.png" alt="img" /> Believe in Us</p>
            <p>
              <img src="/images/dot.png" alt="img" /> A Legacy of Excellence
            </p>
          </div>
          <p>
            By leveraging innovative technology, IVUZE seeks to address the
            longstanding challenges faced by patients in accessing specialist
            consultations and medical services. Through efficient scheduling
            systems and optimized resource ......
          </p>
        </div>
        <div class="about-img">
          <img src="/images/about-img1.png" alt="img" />
          <img src="/images/about-img2.png" alt="img" />
        </div>
      </div>
    </div>
    <!-- about section End -->

    <!-- speciality section -->
    <div class="speciality">
      <h3>AVAILABILITY OF</h3>
      <h1>Specialties</h1>
      <div class="grid">
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Neurology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Bones</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Oncology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Otorhinolaryngology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Ophthalmology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Cardiovascular</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Pulmonology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Renal Medicine</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Gastroenterology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Urology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <p>Dermatology</p>
        </div>
        <div class="grid-card">
          <img src="/images/heartblue.png" alt="img" />
          <a href="/services"> <p>Gynaecology</p></a>
        </div>
      </div>
    </div>
    <!-- speciality section End -->

    <!-- booking section -->
    <div class="booking">
      <div class="booking-info">
        <h1>Direct booking</h1>
        <p>
          you can book directly with the specialist. enter your information.
        </p>
      </div>
      <div class="form">
        <div class="form-grid">
          <input type="text" name="name" id="name" placeholder="Name" />
          <input type="text" name="gender" id="phone" placeholder="Gender" />
          <input type="text" name="email" id="email" placeholder="Email" />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Insurance name"
          />
          <input type="text" name="email" id="email" placeholder="Age" />
          <input type="text" name="email" id="email" placeholder="Time" />
          <input type="text" name="email" id="email" placeholder="Doctor" />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Hospitals & Services"
          />
        </div>
        <textarea
          name="messages"
          placeholder="Message"
          id="messages"
          cols="30"
          rows="10"
        ></textarea>
        <a href="/doctor"> DIRECT BOOKING</a>
      </div>
    </div>
    <!-- booking section End -->

    <!-- doctors section -->
    <div class="doctors">
      <h3>Trusted Care</h3>
      <h1>Our Doctors</h1>
      <div class="doctors-container">
        <div class="slide-wrapper">
          <img src="/images/left.png" alt="icon" class="left-btn" />
          <div class="slider">
            <div class="doctors-card">
              <img src="/images/doctor-1.png" alt="img" />
              <div class="doc-info">
                <p>Doctor Noble</p>
                <h3>NEUROLOGY</h3>
              </div>
              <a href="#">View Profile</a>
            </div>
            <div class="doctors-card">
              <img src="/images/doctor-2.png" alt="img" />
              <div class="doc-info">
                <p>Doctor Ali</p>
                <h3>GYNAECOLOGY</h3>
              </div>
              <a href="#">View Profile</a>
            </div>
            <div class="doctors-card active">
              <img src="/images/doctor-3.png" alt="img" />
              <div class="doc-info">
                <p>Doctor Diane</p>
                <h3>UROLOGY</h3>
              </div>
              <a href="#">View Profile</a>
            </div>
          </div>
          <img src="/images/right.png" alt="icon" class="right-btn" />
        </div>
        <div class="slider-dots">
          <div class="dots active"></div>
          <div class="dots"></div>
          <div class="dots"></div>
        </div>
      </div>
    </div>
    <!-- doctors section End -->

    <!-- news section -->
    <div class="news">
      <h3>BETTER INFORMATION, BETTER HEALTH</h3>
      <h1>News</h1>
      <div class="news-articles">
        <div class="news-card">
          <img src="/images/news-img.png" alt="img" />
          <div class="news-info">
            <p>Monday 03, September 2023 | By Ivan</p>
            <h3>
              LA MEDICAL: New Services opened <br />
              ....
            </h3>
            <div class="views">
              <img src="/images/view.png" alt="img" />
              <img src="/images/like.png" alt="img" />
            </div>
          </div>
        </div>
        <div class="news-card">
          <img src="/images/news-img.png" alt="img" />
          <div class="news-info">
            <p>Monday 03, September 2023 | By Ivan</p>
            <h3>
              LA MEDICAL: New Services opened <br />
              ....
            </h3>
            <div class="views">
              <img src="/images/view.png" alt="img" />
              <img src="/images/like.png" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- news section End -->

    <!-- footer -->

    <footer>
      <div class="footer container">
        <div class="top">
          <div class="logo">
            <img src="/images/logo2.png" alt="img" />
            <p>
              Leading the Way in Medical<br />
              Execellence, Trusted Care.
            </p>
          </div>
          <div class="links">
            <h3>Important Links</h3>
            <ul>
              <li><a href="#">Appiontment</a></li>
              <li><a href="#">Doctors</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
          <div class="contact">
            <h3>Contact Us</h3>
            <div class="contact-info">
              <p>Call: (237) 681-812-255</p>
              <p>Email: ivuze@example.com</p>
            </div>
          </div>
          <div class="newsletter">
            <h3>Newsletter</h3>
            <div class="input">
              <input type="text" placeholder="Enter your email address" />
              <img src="/images/submit.png" alt="img" />
            </div>
          </div>
        </div>
        <div class="bottom">
          <img src="/images/line.png" alt="" />
          <div class="bottom-info">
            <p>© 2021 HIS All Rights Reserved by PNTEC-LTD</p>
            <div class="social-icons">
              <img src="/images/linkedin.png" alt="img" />
              <img src="/images/facebook.png" alt="img" />
              <img src="/images/insta.png" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="/components/index.js"></script>
  </body>
</html>
